body {
    background: white;
    font-family: sans-serif;
    height: 100%;
}

h1 {
	margin-top: 2rem;
	text-align: center;
	color: orange;
}

footer {
	text-align: center;
}

p {
	height: 200px;
	text-indent: 20px;
}