@charset "utf-8";
/* CSS Document */

header .screening {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.15rem;
    height: 1.15rem;
    line-height: 1.15rem;
    text-align: right;
    text-align: center;
    color: #801da1;
}

.checkboxRed {
    width:.43rem;
    height: .43rem;
    background: #CD0933;
    float: left;
    border-radius: 100%;
    position: relative;
    background: url(../images/checkbox-off.png) no-repeat center;
    background-size: 100% 100%;
    padding: 0;
	position:absolute;
	right:.38rem;
	top:.38rem;
}
.checkboxRed input {
    background: none;
    width: .43rem;
    height: .43rem;
    position: relative;
    z-index: 3;
    outline: none;
	border:0;
    /* visibility: hidden; */
}
.checkboxRed label {
    display: block;
    width: .43rem;
    height: .43rem;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.checkboxRed input[type=radio]:checked + label, .checkboxRed input[class=default] + label {
    background: none;
    background: url(../images/checkbox-on.png) no-repeat center;
    background-size: 100% 100%;
}


.order-time {
    background: #fff;
    padding:.32rem;
    position: relative;
	border-top:.266667rem solid #f5f5f5;
	border-bottom:.266667rem solid #f5f5f5;
}
.order-time p {
    padding: 1% 0;
}
.order-time p span.mobNum{
	font-weight:bold;
	margin-left:.64rem;
}
.order-time p em{
	display:inline-block;
	border:1px solid #dd1847;
	color:#dd1847;
	border-radius:3px;
	margin-left:.12rem;
	padding:.06rem;
	font-size:.26rem;
	position:relative;
	top:-.06rem;
}
.order-time p i {
    color: #dd1847;
    margin-left: .12rem;
    font-size: .32rem;

}
.order-time > span {
    width: .36rem;
    height: .24rem;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    top:30%;
    right: 3%;
}
/* 选择收货地址 */
.selectArea .order-time{
	padding:.32rem 0;
	border-bottom:0;
	border-top-color:#ededed;
}
.selectArea .order-time p{
	padding:1% .32rem;
}
.selectArea .order-time .toolsArea{
	clear:both;
	text-align:right;
	border-top:1px solid #e0e0e0;
	margin-top:.24rem;
	padding:.24rem .32rem 0 .32rem;
}
.order-time .toolsArea > span{
	position:relative;
	top:0;
	right:0;
	width:auto;
	height:auto;
	line-height:.42rem;
	font-size:.32rem;
	margin-left:.48rem;
}
.order-time .toolsArea > em{
	float:left;
	color:#dd1847;
	
}
.order-time .toolsArea > span em{
	position:relative;
	top:.12rem;
}
.order-time .toolsArea > span.pen em{
	width: .42rem;
    height: .42rem;
    background: url(../images/cart_pen.png) no-repeat;
    background-size: 80%;
	display:inline-block;
}
.order-time .toolsArea > span.del em{
	width: .42rem;
    height: .42rem;
    background: url(../images/cart_del.png) no-repeat;
    background-size: 80%;
	display:inline-block;
}
.addBtns{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:1.2rem;
	border-top:1px solid #dcdddd;
	background-color:#fff;
	text-align:center;
}
.addBtns a.addBtn{
	line-height:.94rem;
	display:inline-block;
	background-color:#801da1;
	color:#fdf7f8;
	margin-top:.13rem;
	border-radius:20px;
	width:40%;
}

/* 添加收货地址 */
.prompt{
	color:#ff7800;
	padding:.32rem;
	background-color:#fff;
}
.adress{
	background-color:#fff;
	padding-bottom:1rem;
}
.adress p{
	border-top:1px solid #d7d7d7;
	height:1.3rem;
	line-height:1.3rem;
	margin:0 .32rem;
	clear:both;
}
.adress p.noBorder{
	border:0;
}
.adress p.mt_10{

}
.adress span{
	width:76%;
	display:block;
	float:left;
	position:relative;
}
.adress span i.iconfont{
	position: absolute;
    right: -.32rem;
    top: 0;
    display: none;
    padding: 0 .32rem;
}
.adress span input{
	width:100%;
	height:100%;
	padding:.36rem 0;
}
.adress span textarea{
	width:100%;
	height:100%;
	padding:.36rem 0;
}
.adress span.wait {
    color: #222;
	width:2.1rem;
	display:block;
	position:relative;
	float:left;
}
.adress span.wait i{
	position:absolute;
	left:-.16rem;
	top:0;
	line-height:1.3rem;
	color:#dd1847;
}
.tenBorder{
	height:.266667rem;
	background-color:#f1f1f1;
}
.adress p span.flex{
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: relative;
	float:left;
}
.adress select {
	width: 100%;
    height: 100%;
    padding: .36rem 0;
    /*-webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #e5e5e5;
    height:1rem;
    line-height: 1rem;
    color: #333;
    background-repeat: no-repeat;
    background-image: url(../images/down.png);
    background-position: center right;
    background-size: 17px 7px;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
	margin:.15rem .3rem 0 0;
	padding:0 .4rem 0 .2rem;*/
}
