@charset "utf-8";
/* CSS Document */

body{
	background-color:#f7f7f7;
}
.collection{
	padding:0 .32rem;
	background-color:#fff;
}
.collection .list{
	padding:.32rem 0;
	border-bottom:1px solid #d7d7d7;
	
}
.collection .list:last-child{
	border-bottom:0;
}
.collection .list > a{
	float:left;
	display:block;
	position:relative;
}
.collection .list > a img{
	width:2.65rem;
	height:2.65rem;
	border:1px solid #e0e0e0;
}

.collection .list > a .soldOut {
	position:absolute;
	left:20%;
	top:20%;
	width:60%;
	height:60%;
    background-image: url(../images/ico_soldOut.png);
	background-size:100%;
}
.collection .list > a .notSell {
	position:absolute;
	left:20%;
	top:20%;
	width:60%;
	height:60%;
    background-image: url(../images/ico_notSell.png);
	background-size:100%;
}

.collection .list .colRight{
	padding-left:2.97rem;
	width:auto;
}
.collection .list span {
    display: block;
    font-size: .32rem;
    line-height: .52rem;
}
.collection .list span.country{
	padding:.24rem 0;
	font-size:.32rem;
}
.collection .list span i {
    width: .46rem;
    height: .46rem;
    display: inline-block;
    margin-right: .2rem;
    vertical-align: top;
}
.collection .list span i img {
    width: 100%;
    height: 100%;
    display: block;
}
.collection .list .price{
}
.collection .list .price .nowPrice {
    color: #ed1946;
    font-size: .48rem;
    line-height: .6rem;
    display:inline-block;
	margin-right:.32rem;
}
.collection .list .price .oldPrice {
    text-decoration: line-through;
    color: #999;
    display: inline-block;
    line-height: .6rem;
	font-size:.32rem;
}
.shanchu {
    width: .42rem;
    height: .42rem;
    background: url(../images/cart_del.png) no-repeat;
    background-size: 80%;
	display: inline-block;
	float:right;
	position:relative;
	top:.16rem;
}