@charset "utf-8";
/* CSS Document */

.order-time {
    background: #fff;
    padding:.32rem;
    position: relative;
	border-top:.266667rem solid #f5f5f5;
	border-bottom:.266667rem solid #f5f5f5;
}
.order-time p {
    padding: 1% 0;
}
.order-time p span.mobNum{
	font-weight:bold;
	margin-left:.64rem;
}
.order-time p em{
	display:inline-block;
	border:1px solid #dd1847;
	color:#dd1847;
	border-radius:3px;
	margin-left:.12rem;
	padding:.06rem;
	font-size:.26rem;
	position:relative;
	top:-.06rem;
}
.order-time p.fs12px{
	font-size:.32rem;
	color:#333;
}
.order-time > span {
    width: .36rem;
    height: .24rem;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    top:30%;
    right: 3%;
}

.noReceive{
	height:2.4rem;
}
.noReceive > span{
	position:relative;
	top:auto;
	right:auto;
	width:auto;
	height:auto;
	text-align:center;
	display:block;
	color:#666666;
	line-height:1.4rem;
}
.noReceive > span i.iconfont{
	font-size:.386667rem;
	color:#d7d7d7;
	margin-right:.12rem;
}

.order-list{
	
}
.order-info{
	border-bottom:1px solid #d7d7d7;
	padding:.12rem .32rem;
}
.order-info span{
	display:block;
	font-size:.32rem;
	padding:.06rem 0;
}
.order-info span em{
	background-color: #dd1847;
    color: #fff;
    font-size: .24rem;
    padding: 0 .12rem;
    display: inline-block;
    margin: 0 .24rem 0 0;
}
.orderConfirm_l{
	padding:.32rem;
}
.orderConfirm_title{
	border-bottom:1px solid #d7d7d7;
	font-size:.32rem;
	padding-bottom:.28rem;
}
.orderConfirm_title em{
	width:1.32rem;
	height:.363333rem;
	line-height:.363333rem;
	display:block;
	background:url(../images/orderConfirm_iconBg.png) no-repeat;
	background-size:100%;
	color:#fff;
	font-size:.24rem;
	padding-left:.22rem;
	margin-right:.24rem;
	position:relative;
	float:left;
}
.orderConfirm_title span{
	font-size:.32rem;
	display:block;
	float:left;
	line-height:.363333rem;
}
.orderConfirm_title i{
	float:right;
	line-height:.363333rem;
	display:block;
}

.J_moveRight {
    position: relative;
    padding:0 .32rem;
	border-bottom:1px solid #d7d7d7;
}
.orderConfirm_l_box{
	margin-bottom:.32rem;
}
.J_moveRight .img_wrap {
    width:2rem;
    padding:.08rem;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    float: left;
    font-size: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    margin-top:.1rem;
    display: block;
}
.J_moveRight .img_wrap img{
	width:100%;
}
.J_moveRight .gd_info {
    position: relative;
    width: 75%;
    padding-left:.266667rem;
    /*padding-bottom: .266667rem;*/
    overflow: hidden;
}
.J_moveRight .gd_info .name{
    width: 100%;
    line-height: .5rem;
    height:1rem;
    margin:.16rem 0 0;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
.J_moveRight .gd_info .name span {
    font-size:.32rem;
	color:#333;
}
.J_moveRight .gd_info .value {
    width: 100%;
    height: .8rem;
    float: left;
    text-align: left;
    margin:.16rem 0 0 0;
}
.J_moveRight .gd_info .value span{
	font-size:.32rem;
	margin-right:.24rem;
}
.J_moveRight .gd_info .value b{
	font-size:.266667rem;
    font-weight: normal;
    line-height: 25px;
    color: #333;
}
.J_moveRight > div{
	border-bottom:1px dashed #d7d7d7;
	padding:.16rem 0;
}
.J_moveRight > div:last-child{
	border-bottom:0;
}
.ckTo-box {
    border-top:.2666676rem #f5f5f5 solid;
	border-bottom:.2666676rem #f5f5f5 solid;
	line-height:1.06667rem;
	padding:0 .32rem;
}
.ckTo-box .intro {
    
    width: 100%;
    background-color: #fff;
}
.ckTo-box .intro span{
	float:right;
}
.ckTo-box .intro span em{
	font-size:.32rem;
}
.ckTo-box .intro span em i{
	display:inline-block;
	font-size:.266667rem;
	background-color:#ee3558;
	color:#fff;
	padding:0 .06rem;
	line-height:.38rem;
	text-align:center;
	margin-right:.12rem;
}
.ckTo-box .intro i {
    line-height: .363333rem;
}

.count-box {
    margin-top: 0;
    background-color: #fff;
    padding-bottom: 0;
    border-bottom: .266667rem solid #f5f5f5;
}
.count-box .title {
    height:1rem;
	line-height:1rem;
    border-bottom: 1px solid #f5f5f5;
	padding:0 .32rem;
}
.title-txt {
    
}
.bottom-line {
}
.count-box .bottom-line {
    /*height:.96rem;*/
	line-height:.96rem;
    position: relative;
	padding:0 .32rem;
}
.count-box .bottom-line:after{
	content: " ";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
.count-box .bottom-line .label {
    float: left;
	
	color:#999;
}
.count-box .bottom-line .red-box {
    position: absolute;
    right: 85px;
    top:7px;
    z-index: 1;
    float: right;
	width:.986667rem;
    height: .5333333rem;
	line-height:.54rem;
    background: url(../images/ico5.gif) right no-repeat;
	background-size:auto 100%;
    color: #D32449;
	font-size:.27rem;
	text-align:center;
	padding-right:.13rem;
}
.count-box .bottom-line .data {
    float: right;
	color:#333;
	font-size:.266667rem;
}
.count-box .bottom-line .data span{
	margin-left:.12rem;
	font-size:.373333rem;
}
.count-box .bottom-line .data .checkTips{
	display:block;
	font-size:.26rem;
	line-height:.3rem;
	margin-bottom:.24rem;
	position:relative;
	top:-.18rem;
}
.bottom-line .red-w, .bottom-line .red-w span {
    font-size: .4266667rem;
}
.red-w, .count-box .bottom-line .data.red-w {
    color: #D32449;
	font-size:.32rem;
	text-align:right;
	position:relative;
}
.bottom-line.no-border .label{
    color: #333;
}
.bottom-line.intro .data{
	color:#27c241;
}


.confirmBtns{
	border-top: 1px solid #d7d7d7;
	padding:.18rem .32rem;
	text-align: right;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	background-color:#fff;
	z-index:21;
}
.confirmBtns a.confirm_btn {
    display: inline-block;
    background-color: #dd1847;
    color: #fff;
    border-radius: 20px;
    line-height:.94rem;
    border:1px solid #dd1847;
    width: 40%;
    text-align: center;
}

.confirmBtns a.confirm_btn.unable{
	border-color:#aaa;
	background-color:#aaa;
	color:#fff;
}

