@charset "utf-8";
/* CSS Document */

html,body{
	background-color:#f7f7f7;
}
.qr_detail{
	padding:.6rem .4rem;
	background-color:#fff;
	border-bottom:1px solid #d5d5d5;
	background-color:#fff;
	margin-top:.27rem;
}
.qr_detail .qr{
}
.qr_detail .qr img{
	width:70%;
	height:70%;
	display:block;
	margin:0 auto;
}
.qr_detail .arrow{
	width:100%;
	height:.72rem;
	background:url(../images/detailArrow.png) center no-repeat;
	background-size:100%;
	margin:.56rem auto;
}
.qr_detail .con dl{
	font-size:.36rem;
	line-height:.84rem;
}
.qr_detail .con dl:after {
	content: " ";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
.qr_detail .con dl dt{
	float:left;
	width:60px;
	color:#999999;
}
.qr_detail .con dl dd{
	width:70%;
	float:left;
	margin-left:10px;
}
.qr_detail .con dl:last-child dd{
	line-height:.56rem;
	padding-top:.14rem;
}