
.header {
	display: flex;
	display:box;
	display: -webkit-box;
	height: 1.15rem;
	align-items:center;
}

.left-box,
.right-box {
	width: 1.15rem;
	height: 1.15rem;
}
.search-box {
	flex-grow: 1;
	-webkit-box-flex: 1;
	position: relative;
	line-height: 1.15rem;
	& > input {
		width: 100%;
		height: .8rem;
		background-color: #e3e3e6;
		border-radius: 5px;
		text-indent: .8rem;
		padding: 0;
	}
}

.back-icon{
	width: .58667rem;
	height: .6rem;
	background: url(../images/backArrow.png) no-repeat center center;
	background-size: cover;
	margin: .26rem auto;
}

.right-box {
	color: #801da1;
	line-height: 1.15rem;
}


.zoom-icon {
	width: .45rem;
	height: .45rem;
	background: url(../images/searchIcon.png) 0 0 no-repeat;
	position: absolute;
	left: .2rem;
	top:.38rem;
	background-size: cover;
}
.order-box {
	display: flex;
	display: -webkit-box;
	border-bottom: 1px solid #d7d7d7;
	height: 1.2rem;
	align-items:center;
	& > li {
		flex-grow: 1;
		-webkit-box-flex: 1;
		text-align: center;
		height: 100%;
		line-height: 1.2rem;
		& > i {
			display: inline-block;
			width: 1pc;
			height: 1pc;
			vertical-align: middle;
		    margin-right: .12rem;
		}
	}
}
 
.normal > i {
	background:url(../images/searchList_icon.png) 0 0 no-repeat;
	background-size: cover;
}
.price > i {
	background:url(../images/searchList_icon.png) 0 -70px no-repeat;
	background-size: cover;
}
.sales > i {
	background:url(../images/searchList_icon.png) 0 -174px no-repeat;
	background-size: cover;
}
.normal.active > i {
	background-position: 0 -35px;
}

.active {
	color: #801da1;
	border-bottom: 1px solid #801da1;
}

.goods-list {
	margin-top: .2rem;
	overflow: hidden;
	& > li {
		float: left;
		width: 50%;
		border-bottom: 1px solid #d7d7d7;
		border-right: 1px solid #d7d7d7;
		padding: 0 .32rem .24rem;
		box-sizing: border-box;
		&:nth-child(2n){
			border-right: 1px solid white;
		}
	}
}
 
.goods-image > img{
	width: 100%;
}

.country {
	margin: .4rem 0 .12rem;
    line-height: .54rem;
    color: #333;
    font-size: .24rem;
    & > img {
		width: .46rem;
	    height: .46rem;
	    display: inline-block;
	    margin-right: .2rem;
	    vertical-align: top;
	}
}

.goods-desc {
	display: flex;
	color: #333;
    height: .98rem;
    line-height: .5rem;
    line-clamp: 2;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: .12rem;
}

.goods-price {
	display: flex;
	height: .6rem;
	align-items: center;
	& > span{
		flex-grow: 1;
		line-height: .6rem;
	}
}
 
.sale-price {
	color: #ed1946;
	font-size: .5rem;
}
.original-price {
	text-decoration: line-through;
	color: #999;
	font-size: .32rem;
	text-align: right;
	padding-left: .1rem;
}
